
@{
    ViewBag.Title = "ThanhToanKhiNhaHang";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<h3>XÁC NHẬN ĐƠN HÀNG</h3>

<p>Đơn hàng của quý khách đã được ghi nhận, chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất.</p>

<p>@Html.ActionLink("VỀ TRANG CHỦ", "Index", "Figure")</p>

