
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Đơn hàng của quý khách đã được chúng tôi ghi nhận , chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất </h4>
<p>
    @Html.ActionLink("Thanh toán Online", "ThanhToanVnPay", "GioHang")
</p>

<p>
    @Html.ActionLink("Thanh toán khi nhân hàng", "ThanhToanKhiNhaHang", "GioHang")
</p>
