
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@section slider{
    @Html.Action("SliderPartial", "Figure")
}
@*<section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="~/img/features/f1.png">
            <h6>Miễn phí giao hàng</h6>
        </div>
        <div class="fe-box">
            <img src="~/img/features/f2.png">
            <h6>Tiết kiệm thời gian</h6>
        </div>
        <div class="fe-box">
            <img src="~/img/features/f3.png">
            <h6>Tiết kiệm tiền</h6>
        </div>
        <div class="fe-box">
            <img src="~/img/features/f4.png">
            <h6>Nhiều quà tặng</h6>
        </div>
        <div class="fe-box">
            <img src="~/img/features/f5.png">
            <h6>Vui tươi</h6>
        </div>
        <div class="fe-box">
            <img src="~/img/features/f6.png">
            <h6>Hỗ trợ 24/24</h6>
        </div>
    </section>
    <div id="imge">
        <img src="https://theme.hstatic.net/1000160337/1000885200/14/home_bannerfull.jpg?v=311" class="im1">
    </div>*@

*<section id="feature" class="section-p1">
    <section id=hero2>
        <h1 class="hero2">Sản phẩm có sẵn</h1>
        <p class="hero3">Sản phẩm đang có sẵn, bạn có thể mua ngay</p>
        </section>
    </section>

    <section id="produce1" class="section-p1">
        @Html.Action("ItemSanPhamCoSan", "Figure")
    </section>
    <section id=hero2>
        <h2 class="hero2">Sản phẩm Order</h2>
        <p class="hero3">Những sản phẩm đã hoặc sắp phát hành & cần đặt trước</p>
    </section>
    <section id="produce1" class="section-p1">
        @Html.Action("ItemSanPhamOrder", "Figure")
    </section>
    <section id=hero3>
        <h1 class="hero3-1">Nendoroid & Chibi Figure</h1>
        <p class="hero3-2">Dễ thương và tiện lợi</p>
    </section>

    <section id="produce1" class="section-p1">
        @Html.Action("ItemNendoroid", "Figure")
    </section>
    <style>
        a {
            text-decoration: none;
            color: inherit;
        }
    </style>
